
@{
    ViewBag.Title = "QuoteInfo";
}
@model CarInsurance.Models.User

<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-8 col-ld-6 mx-auto shadow">
        <div class="card-header text-center">
            <h3 class="m-0">Quote</h3>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="row mx-auto">
                    <div class="col">
                        <p>Thank you @Model.First_Name your quote is @Model.Quote.Value.ToString("C") for @Model.Coverage.</p>
                    </div>
                </div>
            </div>
            <div class="row mx-auto">
                <a href="../Home/Index" class="btn btn-primary">Back To Form</a>
            </div>
        </div>
    </div>
</div>
