@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="card col-sm-12 col-md-6 col-lg-4 mx-auto shadow">
        <div class="card-header text-center">
            <h3>New Account</h3>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("NewAccount", "Home", FormMethod.Post))
            {
                <div class="row no-gutters">
                    <div class="form-row col-*">
                        <div class="form-group col-sm-12">
                            <label>First Name:</label>
                            <input class="form-control" name="firstName" type="text" placeholder="First Name" />
                        </div>
                        <div class="form-group col-sm-12">
                            <label>Last Name:</label>
                            <input class="form-control" name="lastName" type="text" placeholder="Last Name" />
                        </div>
                        <div class="form-group col-sm-12">
                            <label>Email Address:</label>
                            <input class="form-control" name="email" type="email" placeholder="Email Address" />
                        </div>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
